
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.screen-loader{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    overflow: hidden;
    align-items: center;
    background-color: rgb(245, 245, 245);
    animation: gotaanimated-rdl 0.6s 1.5s forwards;
    div{
        position: relative;
        max-width: 200px;
        margin: 0 auto;
        animation: gotaanimated-ml 0.6s 1.5s forwards;
        img{
            height: 150px;
            animation: gotaanimated-size 0.6s 1.5s forwards;
        }
    }
}

.uiUser-container{
    height: 100vh;
    transition: all 0.5s;
}

.uiUser-container:nth-child(2){
    width: 50vw;
}
.uiUser-container:nth-child(3){
    width: 50vw;
    display: flex;
    align-items: center;
}

.uiUser-form{
    margin: 10vh 10vw 0 10vw;
    animation: gotaanimated-form 0.8s 1.5s forwards;
}

.uiUser-profile{
    width: 100%;
}

.uiUser-imageprofile{
    margin: 0 auto;
    max-width: 150px;
    overflow: hidden;
    border-radius: 50%;
}

@keyframes gotaanimated-rdl{
    from{
        width: 100vw;
    }
    to{
        width: 50vw;
    }
}

@keyframes gotaanimated-hidde{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes gotaanimated-size{
    from{
        height: 150px;
    }
    to{
        height: 60vw;
    }
}

@keyframes gotaanimated-ml{
    from{
        top: 0;
        left: 0;
    }
    to{
        top: -2.5vh;
        left: -5vw;
        max-width: 50vw;
    }
}

@keyframes gotaanimated-form{
    from{
        margin-top: 10vh;
        opacity: 0;
    }
    to{
        margin-top: 0;
        opacity: 1;
    }
}